<%- include('./partials/header/before_login'); %>
<div class="row mt-5 mr-0 ml-0">
    <div class="col-md-6 m-auto">
        <div class="card card-body shadow">
            <h1 class="text-center mb-3">ACCOUNT RECOVERY</h1>
            <%- include('./partials/messages/messages'); %>
            <form action="/user/account-recovery" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
                </div>
                <button type="submit" class="btn btn-primary btn-block" onclick="startLoading()">Reset</button>
            </form>
        </div>
    </div>
</div>
<br><br><br><br><br>